html {
    box-sizing: border-box;
    position: relative;
   
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    border: 4px solid black;
    width: 100%;
    margin: 0;
    min-width: 360px;
    min-height: 100vh;
    padding-bottom: 50px;
}

.layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.bookhalf{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.moviehalf {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

.bookhalf, .moviehalf {
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
