@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Patua+One&family=Signika:wght@300;500;700&display=swap');

html {
    box-sizing: border-box;
    position: relative;
    font-family: 'Signika', sans-serif;
    ;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    border: 10px solid #263E59;
    width: 100%;
    margin: 0;
    min-width: 360px;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: #C0D6Df;
    color: #263E59;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: -10px;
}

h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 3.5rem;
  
    margin-top: 1rem;
    padding-top: 1rem;
}

#tagLine {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
}

textarea{
    margin-top: 10px;
    margin-bottom: 0;
}

h2{
    font-family: 'Patua One', cursive;
}

h1, h2  {
    text-align: center;
}

label {

    font-weight: 500;
    font-size: 1.1rem;
}

input, select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}


hr:last-of-type{
    display: none;
}

.newAdds {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.button-right{
    margin-right: 7px;
}

.button-left{
    margin-left:10px;
}

.col1 {
    width: 20%;
}

.col2 {
    width: 70%;
}

.filtering{
    margin-bottom: 15px;
}

.nameInput{
    margin-right: 5px;
}

.bookName, .movieName, .viewAllLabel{
    font-weight: bold;
}

button {
    background-color: #263E59;
    color: #C0D6Df;
    outline: none;
    border: none;
    padding: 5px 7px;
    box-shadow: 2px 2px #999;
}

button:hover {
    background-color: #6E8898;
    color: #C0D6Df;
    font-weight: bold;
}

button:active {
    background-color:  #263E59;
    color: #C0D6Df;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}


#searchDiv, #results, #modifyDiv, #viewAll, #tagLine,#viewResults {
    border-bottom: 3px solid #263E59;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#modifyDiv {
    width: 95%;
    margin-left: 15px;
}

#errorAdd, #errorMod, #errorSearch {
    color: #d3463c;
    font-weight: bold;
    text-align: center;
}


#successAdd, #successMod {
    color: #14684b;
    text-align: center;
    font-weight: bold;
}

#hiddenGenre, #hiddenSeries, #hiddenNewAuthor, #hiddenEdit, #ulModify, #results, #viewResults {
    display: none;
}

#hiddenGenre, #hiddenSeries, #hiddenNewAuthor {
    border: 1px solid #263E59;
    padding: 10px;
}

#hiddenNewAuthor {
   margin-bottom: 10px;
}

#ulBibliotek{
    list-style:none;
    padding-left:0;
    text-align: center;
}

#ulBibliotek li::before{
    content: "\2192  ";

}

#ulBibliotek li{

  padding-left: 50px;
  text-indent: -50px;
  vertical-align: top;
}

