@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Signika:wght@300;500;700&display=swap');
html {
    box-sizing: border-box;
    position: relative;
    font-family: 'Signika', sans-serif;
    ;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    border: 10px solid #403333;
    width: 100%;
    margin: 0;
    min-width: 360px;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: #D9D7D7;
    color: #403333;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: -10px;
}

h1 {
    font-family: 'Henny Penny', cursive;
    font-size: 3.5rem;
    color: #736463;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-top: 1rem;
}

h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 1.2rem;
}

h1, h2, h3 {
    text-align: center;
}

label {
    color: #403333;
    font-weight: 500;
    font-size: 1.1rem;
}

input, select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}


.newAdds {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.button-right{
    margin-right: 7px;
}

.button-left{
    margin-left:10px;
}

.col1 {
    width: 20%;
}

.col2 {
    width: 70%;
}

.nameInput{
    resize: vertical;
  overflow: auto;
}

.bookName, .movieName, .viewAllLabel{
    font-weight: bold;
}

button {
    background-color: #403333;
    color: #D9D7D7;
    outline: none;
    border: none;
    padding: 5px 7px;
    box-shadow: 2px 2px #999;
}

button:hover {
    background-color: #8C7D7B;
}

button:active {
    background-color: #8C7D7B;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

#searchDiv, #results, #modifyDiv, #viewAll {
    border-bottom: 3px solid #403333;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#modifyDiv {
    width: 95%;
    margin-left: 15px;
}

#errorAdd, #errorMod {
    color: red;
    text-align: center;
}

#hiddenGenre, #hiddenSeries, #hiddenNewAuthor, #hiddenEdit, #ulModify {
    display: none;
}

#hiddenGenre, #hiddenSeries, #hiddenNewAuthor {
    border: 1px solid #403333;
    padding: 10px
}

#hiddenNewAuthor {
   margin-bottom: 10px;
}

#ulBibliotek{
    list-style:none;
    padding-left:0;
}

#ulBibliotek li::before{
    content: "\2192  ";

}

#ulBibliotek li{
  display: inline-block;
  padding-left: 50px;
  text-indent: -50px;
  vertical-align: top;
}

