html {
    box-sizing: border-box;
    position: relative;
   
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    border: 4px solid black;
    width: 100%;
    margin: 0;
    min-width: 360px;
    min-height: 100vh;
    padding-bottom: 50px;
}

h1, h2, h3{
    text-align: center;
}

input, select {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

button{
    margin-left: 10px;
}

#modifyDiv{
    width: 95%;
    margin-left: 15px;
}

#errorAdd, #errorMod{
    color: red;
    text-align: center;
}


#hiddenGenre, #hiddenSeries, #hiddenNewAuthor, #hiddenEdit, #ulModify{
    display: none;
}
.layout {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#booksDiv{
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

#moviesDiv {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#booksDiv, #moviesDiv, #results {
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
