body {
    border: 4px solid black;
    height: 100vh;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bookhalf{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.moviehalf {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
