<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/nav.ejs") %>

    <div class="container">

        <h1>Filtered Movies!</h1>
       <ul>
            <% for(var i=0; i < movies.length; i+2) { %>
            <li>Movie: <%= movies[i] %></li>
            <% }
            %>
            </ul>

    </div>
</body>

</html>