<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <h1 class="text-center">Bibliotek</h1>
    <form action="/filter" method="get" id="filterForm">
      <label>Filter by Genre</label>
      <select class="form-control" name="id">
        <% for(var i=0; i < dropdown.length; i++) { %>
        <option value="<%= ids[i] %>"><%= dropdown[i] %></option>
        <% }
        %>
      </select>
      <button class="text-center" name="filterType" value="book" >Filter Books</button>
      <button class="text-center" name="filterType" value="movie">Filter Movies</button>

    </form>
    <form>
      <p>Or view all</p>
      <button class="text-center" name="viewAll" value="books">View All Books</button>
      <button class="text-center" name="viewAll" value="movies">View All Movies</button>
    </form>

  </div>
  <div id="result">

  </div>

</body>

</html>