<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <h1 class="text-center">Bibliotek</h1>
    <div class="layout">
      <div class="bookhalf">
      <h2>Books</h2>
    <button name="book-btn" value="View Books" onclick="getBooks()">View All Books</button>
    </div><!--End of Book Half-->
    <div class="moviehalf">
      <h2>Movies</h2>
      <button name="book-btn" value="View Books" onclick="getMovies()">View All Movies</button>
    </div>

    </div><!--End of Layout-->
   


  </div><!--End of Container-->

</body>
</html>
