<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <h1>Bibliotek</h1>
    <button name="book-btn" value="View Books" onclick="getBooks()">View Books</button>

  </div>

</body>
</html>
